.post-header{
    width: 100%;
    height: 650px;
}

.post-header .post-container{
    max-width: 80%;
    margin: auto;
    width: 100%;
}

.post-header .header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.post-content .header-title{
    width: 90%;
    font-size: 2.6rem;

    color: rgb(248, 217, 15);
}
.header-content .header-img{
    width: 100%;
    height: 420px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 2rem;
}
.post-content{
    margin: 15px 35px 50px 35px;
}
.post-content .sub-heading{
    font-size: 1.2rem;
    color:rgb(248, 198, 15);
    margin-bottom: 8px;
    margin-top: 30px;
}
.post-content .data{
    color: white;
    margin-left: 30px;
    font-size: 1.25rem!important;
}
.post-content .post-text{
    font-size: 1rem;
    line-height: 25px !important;
    text-align: justify;
    margin-bottom: 15px;
}
.post-content .box-image{
    text-align: center;
    margin-bottom: 15px;
}
.post-content .link, .post-content strong{
    color: rgb(248, 198, 15);
}

.post-content i{
    text-decoration: underline;
    text-decoration-color: rgb(248, 198, 15);
    text-decoration-thickness:2px ;
}
.post-content .autore{
    text-decoration: underline;
    text-decoration-color: rgb(248, 198, 15);
    text-decoration-thickness:2px;
    font-size: 1.25rem!important;
}
.post-content h1{
    margin-bottom: 15px;
}
.post-content h2{
    font-size: 2rem!important;
}
.post-content p{
    font-size: 1.15rem!important;
}
.post-content ul{
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    list-style: none;
    color:white;
    counter-reset: item;
}
.numerata ul li{
    counter-increment: item;
    font-size: 1.15rem!important;
}
.numerata ul li::before{
    content: counter(item)!important;
}
.post-content ul li{
    margin-bottom: 5px;
    line-height: 25px;
}
.post-content ul {
    font-size: 1.15rem!important;
}
.post-content ul li::before{
    content: "\2022"; 
    color: rgb(248, 217, 15); 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}
.post-content .image-capture{
    color: rgb(248, 198, 15);
}
.post-content .box-image .post-img{
    width: 450px;
    height: 480px;
}
.prec-post{
    margin-bottom: 15px !important;
}

.prec-post a, .succ-post a{
    text-decoration: underline;
    text-decoration-color: rgb(248, 198, 15);
    text-decoration-thickness:2px ;
    text-underline-offset: 5px;
}
.prec-post a:hover,.succ-post a:hover{
    color: rgb(248, 198, 15);
    text-decoration-color: rgb(255, 255, 255);
    font-weight: 600;
}

.succ-post{
    margin-top: 30px !important;
}
.btn-shop{
    padding: 12px 10px;
    font-size: .85rem;
    background: rgb(248, 217, 15);
    color:#222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}
.post-content .big-img{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;    
}
.post-content .big-img img{
    width: 80%;
    height: 80%;
}

@media screen and (max-width:900px){
    .post-content{
        margin: 15px 25px 50px 25px;
    }
}

@media screen and (max-width:550px){
    .post-content{
        margin: 15px 15px 50px 15px;
    }
    .post-header{
        width: 100%;
        height: 500px;
    }
    .header-content .header-img{
        height: 300px;
    }
    .post-content .box-image .post-img{
        width: 350px;
        height: 250px;
    }
}
@media screen and (max-width:400px){
    .header-content .header-img{
        height: 250px;
    }
    .post-content .box-image .post-img{
        width: 300px;
        height: 200px;
    }
}